
{% extends "goflow/base_site.html" %}
{% block content %}
<h1>ProcessInstance history: {{instance}}</h1>
datetime created: {{ instance.creation_time|date:"r" }}

<br>
<br>

<table border=1>
<tr>
 <th>Step</th><th>Workitem ID</th><th>Activity</th><th>Status</th><th>Actor</th>
</tr>
{% for wi in instance.workitems.all %}
<tr>
    <td align="center">{{ forloop.counter }}</td>
    <td>{{wi}}</td>
    <td>{{ wi.activity }}</td>
    <td>{{ wi.status }}</td>
    <td>{{ wi.user }}</td>
</tr>
{% endfor %}
</table>


</table>
<p>
<br/>
<a href="home">To frontpage</a>
</p>
{% endblock %}
